---
import Layout from "../layouts/Layout.astro";
---

<Layout title="فهد الحامد">
  <h1 class="text-3xl font-bold text-blue-600">مرحبًا بك في موقعي</h1>
  <p>هذا مثال لموقع شخصي مبني باستخدام Astro.</p>
</Layout>